<mat-card class="example-card mat-elevation-z24">
  <mat-card-header class="logo">
    <img src="assets/image/keep.png">
  </mat-card-header>
  <mat-card-title style="margin-left:20%">
    <h2>Fundoo Registration</h2>
  </mat-card-title>
  <form #regForm="ngForm" (ngSubmit)="register(regForm)">
    <mat-card-content>
      <div class="example-container" fxLayoutGap="16px">
        <mat-form-field>
          <input matInput placeholder="First Name" type="text" name="firstName" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" name="lastName" ngModel required>
        </mat-form-field>
      </div>
      <div class="example-container" fxLayoutGap="16px">
        <mat-form-field>
          <input matInput placeholder="E-Mail" type="email" name="email" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contact Number" type="text" name="contactNumber" maxlength="10" ngModel required>
        </mat-form-field>
      </div>
      <div class="error-msg">{{emailError}}</div>
      <div class="test" fxLayoutGap="36px">
        <mat-form-field>
          <input matInput placeholder="Password" [type]="show?'text':'password'" name="password" maxlength="10" ngModel required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" [type]="show?'text':'password'" name="confirmPassword" maxlength="10" ngModel
            required>
        </mat-form-field>
        <img [src]="show?'assets/image/eye.png':'assets/image/eye-off.png'" (click)="password()">
      </div>
      <div class="error-msg">{{passError}}</div>
    </mat-card-content>
    <mat-card-actions class="btmMargin">
      <button mat-raised-button type="submit">Register</button>
      <a routerLink="/login" class="signIn">Sign In instead?</a>
    </mat-card-actions>
  </form>
</mat-card>