<div style="margin:65px;" fxLayout="row" fxLayoutWrap fxLayoutGap="16px" fxLayout="center center">
  <div  *ngFor="let record of records | myfilter : 'trash'">
    <mat-card class="card" [style.backgroundColor]="record.color">
      <h3>{{record.title}}</h3>
      <div class="description">
        {{record.description}}
      </div>
      <mat-card-footer>
        <div id="footer-card-div">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button style="font-size: 14px; max-height: 8vh" mat-menu-item (click)="delete(record.noteId)">
              <mat-icon style="font-size: 20px; margin: 1px;">delete_sweep</mat-icon>
              <span>Delete forever</span>
            </button>
            <button style="font-size: 14px; max-height: 8vh" mat-menu-item (click)="restore(record.noteId)">
              <mat-icon style="font-size: 20px; margin: 1px;">restore_from_trash</mat-icon>
              <span>Restore</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>