#create-close{
    margin-left: 100px;
    padding: 5px;
}

.create-note-ip{
    width: 100%;
    min-height: 20px;
    outline-width: 0;
    outline: none;
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

mat-icon {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 21px;
}