<mat-card class="example-card mat-elevation-z24">
  <mat-card-header class="logo">
    <img src="assets/image/keep.png">
  </mat-card-header>
  <h2>Account recovery</h2>
  <form (ngSubmit)="forgotpassword()">
    <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="E-Mail" type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>
        <div class="error-text">{{emailError}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions class="btmMargin">
      <button mat-raised-button>Next</button>
      <a routerLink="/login" class="signUp">Back</a>
    </mat-card-actions>
  </form>
</mat-card>